.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 200px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
	font-size: 14px;
	font-family: arial, sans-serif;
	color:#222;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

.center {
    display: block;
    width: 90%;
    text-align: center;
    padding: 20px;
    padding-bottom: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--footer-background);
    color: var(--footer-font);
    font-size: 1.4rem;
}
  
  .left-section,
  .right-section {
    display: flex;
}
  
  .right-section {
    margin-right: 3rem;
}
  
  .footer-link {
    display: block;
    padding: 1rem 0 1rem 3rem;
}
  
  .footer-link:hover {
    text-decoration: underline;
    color: var(--footer-font-hover);
}
  
  .footer-link:active {
    color: var(--footer-font-active);
}